header{
    display:flex;
    justify-content:space-between;
    margin-bottom: 50px;
    padding: 10px;
    background-color: rgb(240, 240, 240);;
}
header a{
    text-decoration:none;
    color: inherit;
}
header a.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(117, 3, 3);
}
header nav{
    display:flex;
    gap: 24px;
}


.container-profile{
    text-align: center;
}
.person{
    font-size: 30px;
}
.profile-name{
    font-weight: 900;
}