header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 15px;
    background-color: whitesmoke;
    border-bottom: 1px solid #e2e2e2;


}
header a{
    text-decoration:none;
    color: inherit;
}
header a.logo{

    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
}
header nav{
    display:flex;
    gap: 24px;
    justify-content: flex-end;

}
header nav, .header-placeholder{
    flex:1;
}

.header-placeholder i{
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
}

.navbar-non-user, .navbar-user{
    display: flex;
    gap: 20px;

}

.navbar-non-user button{
    padding: 10px 30px;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 3px;
}

.navbar-user button{
    padding: 10px 20px;
    border-width: 1.5px;
    border-style: solid;

}

.login-button, .singup-button:hover, .logout-button:hover{
    background-color: white;
    color: black;   
}

.login-button i{
    font-size: 15px;
}

.singup-button, .login-button:hover, .logout-button{
    background-color: black;
    color: white;
    border-color: white;
}
.logout-button i{
    font-size: 15px;
    margin-right: 10px;
}


.container-profile{
    text-align: center;
    align-items: center;
    display: flex;
    gap:10px
}
.person{
    font-size: 30px;
}
.profile-name{
    font-weight: 900;
}


